<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<body>
 <div class="container">
<table  class="table table-dark">
    <tr>
    {% for bk in object_list %}
        <td>{{bk.bookname}}</td>
        <td>{{bk.category}}</td>
        <td>{{bk.price}}</td>
        <td>{{bk.pages}}</td>
        <td>{{bk.author}}</td>
        <td>{{bk.id}}</td>


 <td><a href="{%url 'book_view' bk.id %}" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">View</a></td>
         <td><a href="{%url 'book_update' bk.id %}" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Update</a></td>
        <td><a href="{%url 'book_delete' bk.id %}" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Delete</a></td>

    </tr>
    {% endfor %}
</table>
 </div>
</body>
</html>