
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<body>
<form method="post">
    {%csrf_token%}
 <div class="container">
     <h1>View Products</h1>
<table  class="table table-dark">

    <tr>
        <td>Category Name</td>
        <td>{{form.categoryname}}</td>
    </tr>


    <tr>
      <td><input type="submit" value="delete"></td>
    </tr>
</table>
 </div>
    </form>
</body>
</html>